@model IEnumerable<Snaphanerne.Models.Entity.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opponent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prepare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherInformation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opponent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prepare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherInformation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
